/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1 {
  margin-left: 20px;
}

.intro, .question, .results {
  background-color: grey;
  margin: 20px;
  padding: 26px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

button {
  border-style: solid;
  border-width: 1px;
  background-color: rgb(211, 211, 211);
  border-color: black;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}