/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
p, li, ul, input, legend, .answers, .results {
  padding-left: 30px;
  font-size: 18px;
  font-weight: 600;
}

legend {
  text-align: center;
}

h3 {
  font-family: 'Racing Sans One', cursive;
  margin-left: 30px;
  color:black;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 50px;
}

body {
  font-family: 'Courier New', Courier, monospace;  
  background-image: url("home-build.jpg");
  background-color: rgb(43, 36, 36);
  background-size: auto;
}



h1 {
  font-family: 'Racing Sans One', cursive;
  margin-left: 20px;
  color: rgb(243, 231, 231);
  text-shadow: 0px 0px 15px #000000;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}


.intro, .trackScoreAndQuestion, fieldset, .results {
  background-color: grey;
  margin: 20px;
  padding: 26px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  opacity: .85;
  border-radius: 10px;
}

.intro{
  text-align: center;
}

button {
  border-style: none;
  box-shadow: 0px 0px 8px #000000;
  border-radius: 15px;
  border-width: 1px;
  background-color: rgb(211, 211, 211);
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
}

#next {
  display: none;
}

#restart-quiz{
  text-align: center;
}

#startQuiz {
    margin:0 auto;
    display:block;
}

.right-answer {
  background:ivory;
  padding: 10px 20px;
  margin: 5px 20px;
  border:2px solid rgb(52, 17, 179);
 }
 
 .wrong-answer {
   background:ivory;
   padding: 10px;
   margin: 5px 20px;
   border:2px solid #fe0000;
 }

/* Groups and Items -- desktop over 800px wide*/

@media all and (min-width: 800px) {
 

 body {
  background-size: cover;
 }

}